[submodule "zsh/ohmyzsh"]
	path = zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "ohmyzsh/custom/plugins/zsh-autosuggestions"]
	path = ohmyzsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
